*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.css linguist-language=CSS
node_modules/* linguist-vendored
build/* linguist-vendored
*.min.js linguist-vendored
*.min.css linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.svg linguist-vendored
*.ttf linguist-vendored
*.woff linguist-vendored
bootstrap/* linguist-vendored
